<div class="wrapper">
  <div class="overlay">
     <div class="wrap-track-status">
           <div class="" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="div-tab col-md-12">
                <div class="header">
                  <img src="../../assets/images/logo.JPG" alt="">
                  <h3>Image Analyser for case number: {{caseNumber}}</h3>
                </div>
                 <div class="div-tab col-md-8 col-sm-12">
                    <div class="main-content">
                       <h5>[Click on the images below]</h5>
                       <div class="img-container">
                          <div class="row">
                             <div  *ngFor="let img of images" class="column">
                              <img (click)="processImage(img.image)" [ngClass]="{'active': selectedId === img.id }" [src]="img.image" alt="">
                             </div>
                          </div>
                       </div>
                       <div class="content-wrap">
                        <div *ngIf="processedImageURL" class="div-first">
                           <img  [src]="processedImageURL" alt="">
                        </div>
                     </div>
                       <div *ngIf="isProccessing">
                        <div class="wrap-loader">
                          <div class="loader-wrapper">
                            <div class="sandwatch-holder">
                              <div class="sandwatch-top"></div>
                              <div class="sandwatch-bottom"></div>
                            </div>
                          </div>
                        </div>
                        <h3 class="text-center">Processing your image...</h3>
                      </div>
                    </div>
                 </div>
                 <div *ngIf="objects" class="div-tab object col-md-4 col-sm-12">
                    <div class="panel panel-default drug-image-wrap">
                       <div class="panel-heading">
                          <h4>List of objects identified:</h4>
                       </div>
                       <div class="panel-body">
                          <div class="row list-detail">
                             <div class="col-md-4">
                                <h4><span class="find"> {{objects}}</span></h4>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
     </div>
  </div>
</div>
