<div class="">
  <div class="d-flex w-100 image-container">
    <img (click)="processImage(i.id)" [ngClass]="{'active': selectedId === i.id }" *ngFor="let i of images" [src]="i.img" alt="">
  </div>
  <div class="result-container">
    <div *ngIf="isProccessing">
      <div class="wrap-loader">
        <div class="loader-wrapper">
          <div class="sandwatch-holder">
            <div class="sandwatch-top"></div>
            <div class="sandwatch-bottom"></div>
          </div>
        </div>
      </div>
      <h3 class="text-center">Processing your image...</h3>
    </div>
    <ng-container *ngIf="!isProccessing">
      <img [src]="processedImageURL" alt="">
    </ng-container>
  </div>
</div>
