<div *ngIf="images" class="">
  <div class="d-flex w-100 image-container">
    <img (click)="processImage(img.id)" [ngClass]="{'active': selectedId === img.id }" *ngFor="let img of images" [src]="img.image" alt="">
  </div>
  <div class="result-container">
    <div *ngIf="isProccessing">
      <div class="wrap-loader">
        <div class="loader-wrapper">
          <div class="sandwatch-holder">
            <div class="sandwatch-top"></div>
            <div class="sandwatch-bottom"></div>
          </div>
        </div>
      </div>
      <h3 class="text-center">Processing your image...</h3>
    </div>
    <ng-container *ngIf="processedImageURL">
      <img  [src]="processedImageURL" alt="">
      <div><p class="object">Detected Objects: {{objects}}</p></div>
    </ng-container>
  </div>
</div>
