<div class="wrapper ">
  <div class="wrap-input detail-section">
    <div class="col-md-12">
      <h3>Case Number : <span>XXXXXXXXXXXXXXXXXXXXXXXXXXXX</span></h3>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Media Info
            </th>
            <th>Media type
            </th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="img-detail-wrap"><img src="../../assets/images/small.jpg" class="thumbnail-detail" /></span>
              <span class="img-title-wrap">Video 1.mp4</span>
            </td>
            <td>Video
            </td>
            <td class="action-wrap">

              <span class="preview"><span class="glyphicon glyphicon-eye-open"></span>
                <span>Preview</span>
              </span>
              <span class="delete"><span class="glyphicon glyphicon-trash"></span>
                <span>Delete</span></span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="img-detail-wrap"><img src="../../assets/images/small.jpg" class="thumbnail-detail" /></span>
              <span class="img-title-wrap">Photo 1.jpeg
              </span>
            </td>
            <td>Photo
            </td>
            <td class="action-wrap">

              <span class="preview"><span class="glyphicon glyphicon-eye-open"></span>
                <span>Preview</span>
              </span>
              <span class="delete"><span class="glyphicon glyphicon-trash"></span>
                <span>Delete</span></span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="img-detail-wrap"><img src="../../assets/images/small.jpg" class="thumbnail-detail" /></span>
              <span class="img-title-wrap">Photo 2.jpeg
              </span>
            </td>
            <td>Photo
            </td>
            <td class="action-wrap">
              <span class="preview"><span class="glyphicon glyphicon-eye-open"></span>
                <span>Preview</span>
              </span>
              <span class="delete"><span class="glyphicon glyphicon-trash"></span>
                <span>Delete</span></span>
            </td>
          </tr>
        </tbody>
      </table>
      <a routerLink="/case-result"> <button type="button" name="" class="input-case ">Process</button> </a>
    </div>
  </div>
</div>
