/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  padding: 0px;
  margin: 0px;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.wrapper {
  background-image: url(./assets/images/Picture1.png);
  height: 100%;
  width: 100%;
  background-size: cover;
  position: relative;
}
.wrap-input {
  position: absolute;
  width: 60%;
  min-height: 65%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  height: 65%;
}
.align-center {
  text-align: center;
  color: white;
}
.input-case {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: rgb(255, 192, 0);
  color: #000;
  height: 35px;
  padding: 0px 10px;
  border: 1px solid rgb(255, 192, 0);
  width: 45%;
  text-align: center;
  min-width: 250px;
  /* float: left; */
}
.wrap-input form {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
}
.record-video {
  width: 135px;

  height: 135px;

  float: left;

  text-align: center;

  border: 2px solid #ffc000;

  margin: 10px 20px;

  border-radius: 50%;

  background-color: rgba(0, 0, 0, 0.5);

  position: relative;
}
.record-video [type="file"] {
  width: 100%;

  float: left;

  opacity: 0;

  height: 100%;

  position: absolute;
  z-index: 2;
  left: 0px;
}
.wrap-media {
  display: flex;

  width: 100%;

  margin-left: auto;

  margin-right: auto;

  margin-top: 10%;

  margin-bottom: 10%;

  height: 150px;

  justify-content: center;
}
.record-video img {
  width: 30px;

  top: 15px;

  position: relative;
}
.record-video p {
  text-align: center;

  color: white;

  font-size: 20px;

  position: relative;

  top: 20px;
}
a {
  text-decoration: none;
}
button.input-case {
  box-shadow: 1px 2px 5px #3e3d3d;
  text-decoration: none;
}
button.input-case:hover {
  box-shadow: 0px 0px 0px #ddd;
}
.detail-section {
  /* background-color: #232323c7; */
  /* color: white; */
  /* border-radius: 5px; */
  /* box-shadow: 1px 1px 8px #060606; */
}
.thumbnail-detail {
  width: 90px;

  /* float: left; */
}
.img-detail-wrap {
  float: left;

  /* width: 100%; */

  text-align: center;
}
.img-title-wrap {
  float: left;

  /* width: 100%; */

  text-align: center;

  line-height: 47px;

  margin-left: 10px;
}
.action-wrap {
}
.action-wrap span {
  float: left;

  width: 80px;
}
.action-wrap span span {
  text-align: center;
}
.action-wrap span span + span {
}
.delete {
  color: red;
}
.preview {
  color: blue;
}
.detail-section .col-md-12 {
  background-color: #232323c7;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 8px #060606;
  padding: 2rem;
}

/*result page*/
.overlay {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #e4e4e4e3;
  position: fixed;
  overflow-y: auto;
}

@media only screen and (max-width: 900px) {
  .wrap-input {
    /* height: auto; */
  }
  .wrap-input {
    /*position: absolute;*/
    width: 90%;
  }
  .detail-section h3 {
    font-size: 20px;
  }
  .detail-section .col-md-12 {
    /* background-color: #232323c7; */
    /* color: white; */
    /* border-radius: 5px; */
    /* box-shadow: 1px 1px 8px #060606; */
    /* padding: 1px 20px 20px; */
    /* margin-top: 20px; */
  }
  .action-wrap span {
    float: left;
    width: 60px;
  }
}

.main-content {
  height: 100%;
}
.main-content .row {
  display: flex;
  width: 100%; /* justify-content: flex-end; */ /* margin: 10px 0px 0px 50px; */
  height: 100px;
}
.main-content .row .column {
  width: 100%;

  height: 100%;

  float: left;

  /* margin: 5px; */
}
.img-container {
  /* display: flex; */

  /* position: relative; */

  height: 93%;

  margin-top: 5px;

  /* width: 60%; */
}
/* The grid: Four equal columns that floats next to each other */
.column {
  /* float: left; */
  /* width: 25%; */
  /* padding: 10px; */
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
  height: 100%;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  /* position: absolute; */
  /* display: none; */
  /* width: 45%; */
  /* margin-left:30%; */
  /* right: 0px; */
  /* left: 0px; */
  /* margin: auto; */
  /* width: 100%; */
  /* background: #ddd; */
  /* height: 85%; */
  /* bottom: 0px; */
  /* top: 10px; */
}

/* Expanding image text */
#imgtext {
  /* position: absolute; */
  /* bottom: 0px; */
  /* left: 15px; */
  /* color: white; */
  font-size: 20px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: relative;
  top: 50px;
  right: 0px;
  color: white;
  font-size: 35px;
  cursor: pointer;
  width: 80%;
  float: left;
  text-align: right;
  left: 0px;
}

.main-content h5 {
  margin-left: 10px;
  margin-top: 15px;
}
.container img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 12px 12px #353535;
}

.content-wrap {
  /* position: relative; */

  /*background: #ddd;*/

  width: 100%;

  margin-top: 10px;

  float: left;

  /* margin-left: 7%; */

  height: 80%;
}
/*.container:before
{
content: "";
  border:1px solid #f30;
}
.container:after
{
content: "";
  border:1px solid #f30;
}*/
@media only screen and (max-width: 1000px) {
  /*body {
    background-color: lightblue;
  }*/
  .main-content .row {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0px;
    height: 100px;
  }
  .column img {
    opacity: 0.8;
    cursor: pointer;
    width: 95%;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .img-container {
    display: block;
    position: relative;
    /* height: 93%; */
    margin-top: 20px;
    width: 100%;
  }
  .content-wrap {
    /* position: relative; */
    /* background: #ddd; */
    /* width: 100%; */
    /* margin-top: 10px; */
    margin-left: 0%;
  }
  .container {
    width: 80%;
  }
  .header .row div + div {
    width: 100%;
    line-height: 70px;
  }
  .header .row div + div h3 {
    font-size: 1em;
  }

  .container img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 12px 12px #353535;
    margin-bottom: 30px;
    float: left;
  }
}
.wrap-track-status,
.tab-pane {
  height: 100%;
}
.tab-content {
  height: 90%;
}
.content-wrap .div-first {
  /*{    display: block;*/
  height: 100%;
  width: 100%;
}
#expandedImg {
  width: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tab-pane .div-tab {
  height: 100%;
}
#pills-tab {
  border-bottom: 1px solid #bbb8b8;
}
#pills-tab li.active a {
  background-color: transparent;
  border-radius: 0px;
  border-bottom: 3px solid #337ab7;
  color: #000;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
.drug-image-wrap img {
  /* width: 100%; */
  height: 100%;
}
.drug-image-wrap .img-wrap .col-md-6 {
  /* margin-bottom: 10px; */

  padding: 5px;

  height: 100px;
}
.drug-image-wrap .panel-body {
  padding: 0px;
}
.list-detail h4 {
  text-align: center;
}
.list-detail h4 span.find {
  text-align: center;
  border-bottom: 1px solid #000;
}
