<div class="wrapper">
  <div class="wrap-input">
    <h2 class="align-center">
      Welcome to AI-led Drug scene Investigation Demo
    </h2>
      <input required type="text" #cnumber="ngModel" [(ngModel)]="caseNumber" name="" placeholder="Enter your case number" class="input-case" />
      <span *ngIf="cnumber.touched && cnumber.invalid" class="">Please enter case number</span>
      <div class="wrap-media">
        <div class="record-video">
          <input type="file"(change)="fileLoaded($event)" multiple="true" name="" />
          <img src="../../assets/images/image.png" />
          <p>Take Photo</p>
        </div>
      </div>
      <br />
      <a disabled="cnumber.invalid" [routerLink]="['/crime-scene', caseNumber]">
        <button  type="button" name="" value="Preview & Submit for processing" class="input-case">
          Preview & Submit for processing
        </button>
      </a>
  </div>
</div>
